<% if user_signed_in? %>
    <!--エンドユーザーがログインしている時 -->
    <!--ロゴ-->
    <div class="header-logo">
      <%= link_to user_path(current_user.id) do %>
       <%= image_tag('logo.png', :size =>'200x50') %>
      <% end %>
    </div>
    <!--リスト-->
    <nav class="list">
      <ul class="list-left">
        <li>
          <%= link_to "about", homes_about_path %>
        </li>
        <li>
          <%= link_to "items", user_items_path %>
        </li>  
      </ul>
      <ul class="list-right">
        <li>
          <%= link_to "", destroy_user_session_path , method: :delete, "data-confirm" => "ログアウトしますか？", class: "far fa-user" %>
        </li>
        <li>
          <%= link_to "", user_cart_items_path, class: "fas fa-cart-arrow-down" %>
        </li>
        <li>
          <%= link_to "", search_path, class: "fas fa-search" %>
        </li>
      </ul>
    </nav>
  <% else %>
    <!--ログインしていない時-->
    <!--ロゴ-->
    <div class="header-logo">
      <%= link_to "/" do %>
       <%= image_tag('logo.png', :size =>'200x50') %>
      <% end %>
    </div>
    <!--リスト-->
    <nav class="list">
      <ul class="list-left">
        <li>
          <%= link_to "about", homes_about_path %>
        </li>
        <li>
          <%= link_to "items", user_items_path %>
        </li>  
      </ul>
      <ul class="list-right">
        <li>
          <%= link_to "", new_user_session_path , class: "far fa-user" %>
        </li>
        <li>
          <%= link_to "", user_cart_items_path, class: "fas fa-cart-arrow-down" %>
        </li>
        <li>
          <%= link_to "", search_path, class: "fas fa-search" %>
        </li>
      </ul>
    </nav>
  <% end %>
